<!DOCTYPE html>
<html>

<head>
    <%= javascript_include_tag 'admin/application' %>
    <%= stylesheet_link_tag   'admin/application', media: 'all', 'data-turbolinks-track' => true %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DataCheck</title>

</head>

<body>
<%= render "admin/navbar" %>
<%= render "admin/topbar" %>
<%= render "admin/topbar_page_name" %>





      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper wrapper-content">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>



</body>
</html>
