<!DOCTYPE html>
<html>

<head>
    <%= javascript_include_tag 'admin/application' %>
    <%= stylesheet_link_tag   'admin/application', media: 'all', 'data-turbolinks-track' => true %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DataCheck</title>

</head>

<body>
  <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element">
              <span>
                <%= image_tag 'profile_small.jpg', class: 'img-circle' %>
              </span>
              <span class="clear"> <span class="block m-t-xs">
                <strong class="font-bold"><%= current_user.email %></strong>
                <span class="text-muted text-xs block">Пользователь</span>
              </span> 
            </div>
            <div class="logo-element">
              D+
            </div>
          </li>
          <li>
            <%= link_to orders_path do %>
              <i class="fa fa-flask"></i>
              <span class="nav-label">Заказы</span>
            <% end %>
          </li>

          <li>
            <%= link_to codes_path do %>
              <i class="fa fa-flask"></i>
              <span class="nav-label">Коды</span>
            <% end %>
          </li>

          <li>
            <%= link_to code_types_path do %>
              <i class="fa fa-flask"></i>
              <span class="nav-label">Типы кодов</span>
            <% end %>
          </li>

          <li>
            <%= link_to code_types_path do %>
              <i class="fa fa-flask"></i>
              <span class="nav-label">Типы кодов</span>
            <% end %>
          </li>

          <li>
            <%= link_to users_path do %>
              <i class="fa fa-flask"></i>
              <span class="nav-label">Клиенты</span>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
      <div class="row border-bottom">
      <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <a href=<%= destroy_user_session_path %>>
              <i class="fa fa-sign-out"></i> Log out
            </a>
          </li>
        </ul>
      </nav>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div class="wrapper wrapper-content">
            <div class="row">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      </div>
    </div>



</body>
</html>
